.dropdown {
    position: relative;
    display: flex;
    min-width: 100px;
    width: 100%;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    height: 50px;
    z-index: 999;

  }

  .dropdown span:hover{
   text-decoration: underline; 
  }

.active{
  height: 100%;
}

  .dropdown span{
    height: 100%;
    padding: 10px;
    cursor: pointer;
    z-index: 999;


  }
  
  .dropdown-content {
    /* z-index: 10; */
    z-index: 999;

  }

  .dropdown_option{
    height: 30px;
  }
/*   
  .dropdown:hover{
    height: 100%;
  } */
  
.dropdown_option_container{
  position: absolute;
  top:20%;
}