.dropdown {
    position: relative;
    display: flex;
    color: white;
    min-width: 100px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    height: 30px;
  
  }

  .dropdown span{
    height: 30px;
    cursor: pointer;
  }
  
  .dropdown-content {
    /* padding: 12px 16px; */
    z-index: 1;
    color: white;
  }

  .dropdown_option{
    height: 30px;
  }
  
  .dropdown:hover{
    height: 100%;
  }