.footer_heading{
    font-weight:500;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    padding-bottom: 10px;
    
}

.footer_items li{
    display: flex;
    padding-inline: 10px;
    padding-block: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.388);
    transition: all 0.5s;
}
.footer_items li:hover{
    background: #1B72B2;
    cursor: pointer;

}