@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root, html, body{
  font-family: 'Inter';
}

#news-container{
  overflow: hidden;
}

@keyframes newsAnimation {
    from { transform: translateX(50px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
  }

  .news-item {
    cursor: pointer;
  }

  .news-item:hover {
    color: #196297;
  }

  .AtoZ_container{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .AtoZ_container {
      grid-template-columns: repeat(8, 1fr);
    } 
    
  }
